{% extends "base.html" %}
{% load static %}

{% block page_content %}
<script src="{% static 'remove_cookie.js' %} "></script>
<title>Weather Status</title>
<div class="container px-5">
    <div class="row">
        <div class='col-12'>
        <h1 class='text-center header'>
            Weather around the World
        </h1>
    </div>
    </div>
    <div class="row">
        <div class='col-12 center-block'>
            <a class="btn btn-primary text-center form-control" href="index.html">Add more cities</a>
        </div>
    </div>
    
                        
    <hr>
    <div class="card-columns">

        {% for city in cities %}

            <div class="card">            
                <div class="card-body bg-secondary">
                    <h2 class="text-center card-subtitle">{{city.current_time}}</h2>
                    <h1 class="text-center card-title">{{city.current_city_name}}</h1>
                    <img src="{{city.current_icon_url}}" alt="{{city.current_description}}">
                    <h2 hidden id="text-center cityId">{{city.current_city_id}}</h2>
                    <h2 class="text-center card-text">{{city.current_description}}</h2>
                    <h2 class="text-center card-text">{{city.current_temp}}°F</h2>
                    <h2 class="text-center card-text">{{city.current_wind_speed}} MPH</h2>
                    <button class='btn btn-warning' id="removeButton" onclick="removeCookie({{city.current_city_id}})">Remove</button>    
                    
                </div>
                

            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
