{% extends "base.html" %}
{% load static %}
{% block page_content %}



<div class="h-100 d-flex align-items-center justify-content-center">
    
    <div class="card bg-secondary">
    </div>
    <div class="card bg-secondary">           
        <h1 class='text-center header'>
            Weather around the World
        </h1>
        <hr>
     
        <form method="POST">
            {% csrf_token %}
            <input class='text-center' id='city_select' type="text" placeholder="City Name" name='city'/>
            <button class='btn btn-primary text-center' type='submit'>Select</button>
        </form>
        <div class="card-body">
            <iframe name='my_frame' id='map' class='card-img-top' height='304' width='304' id='encoder_iframe' src="{{bing_map}}"></iframe>
            <!-- <h2 class="card-subtitle mb-2 text-muted">{{date}}</h2> -->
            <h1 class="card-title">{{current_city_name}}</h1>
            <h1 class="card-text" >time: {{current_time}}</h1>
            <img src="{{current_icon_url}}" alt="{{current_description}}">
            <h2 hidden id="cityId">{{current_city_id}}</h2>
            <h2 class="card-text">{{current_description}}</h2>
            <h2 id='temp' class="card-text">{{current_temp}}°F</h2>
            <h2 id='windspeed' class="card-text">{{current_wind_speed}} MPH</h2>
        </div>
        <button class='btn btn-primary' id="addButton">Add to Weather Status Page</button>
        <a class="btn btn-warning" href="city_list.html">Weather Status Page</a>    

    </div>
</div>
<script src="{% static 'cookie.js' %} " defer></script>
{% endblock %}
